code[class*='language-'],
pre[class*='language-'] {
  color: var(--foreground);
  background: none;
  border-radius: 0.3em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-'] {
  padding: 2em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--background);
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
}

.token {
  &.script.language-javascript {
    color: var(--foreground);
  }

  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: var(--comments);
  }

  &.attr-name,
  &.namespace,
  &.deleted {
    color: var(--violet);
  }

  &.function,
  &.function-name {
    color: var(--blue);
  }

  &.unit,
  &.url,
  &.boolean,
  &.number {
    color: var(--orange);
  }

  &.color,
  &.hexcode,
  &.builtin,
  &.property,
  &.class,
  &.class-name,
  &.constant,
  &.symbol {
    color: var(--yellow);
  }

  &.id,
  &.selector,
  &.important,
  &.atrule,
  &.keyword {
    color: var(--purple);
  }

  &.pseudo-class,
  &.pseudo-element,
  &.inserted,
  &.attribute,
  &.string,
  &.char,
  &.attr-value,
  &.regex,
  &.variable {
    color: var(--green);
  }

  &.punctuation,
  &.operator,
  &.entity,
  &.url {
    color: var(--cyan);
  }

  &.tag {
    color: var(--pink);
  }

  &.parameter,
  &.deleted {
    color: var(--red);
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}
